*{
  text-align: center;
  font-family : calibri;
}
.btn{
    display: inline-block;
    margin: 10px;
    width: 200px;
    height: 200px;
    border: 10px solid black;
    border-radius: 20%;
}

.red{
    background-color: red;
}
.green{
    background-color: green;
}
.yellow{
    background-color: yellow;
}
.purple{
    background-color: purple;
}

.flash{
    background-color: white;
}
